.jumbotron {
    background-image: url(https://cdn.pixabay.com/photo/2017/11/06/21/11/paint-2924891_1280.jpg);
    background-repeat: no-repeat, repeat;
    background-repeat: center;
    background-size: cover;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
}

.jumbotron h1, p {
    background-color: #ffffff73;
    padding: 50px;
}